@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .link_active{
    @apply text-dominos-blue border-b-2 border-green-700;
  }
  .overlay{
    width: 100vw;
    height:calc(100vh);
    position: absolute;
    z-index: 40;
    /* transform: translateY(40px); */
    background-color:rgba(26, 15, 15, 0.74);
    overflow: hidden;
  
  }

  .sidenav-modal{
    z-index: 50;
    position: absolute;
    transition: all .4s ease;
    width: 450px;
    height:100vh;
    background-color: white;
  }
}

.bottom-nav-cart{
  position: fixed;
  z-index: 50;
  top:calc(100vh - 80px);
  left:0;
  width: 100vw;
  height: 80px;
  background-color: red;
  transition: height .5s ease-out;
}


.bottom-nav-cart.active{
  top:calc(100vh - 300px);
  height: 300px;

}

.bottom-cart-container{
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  z-index: 10;
  top: 0px;
  height: 500px;
  width: 100vw;
  transition: all .3s ease;
}

.bottom-cart-container.show{
  transform: translateY(-100%);
}

@media only screen and (max-width: 600px) {
  .sidenav-modal{
    width:100vw;
  }
}

